* {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
	font-size: 14px;
}

#projectsWrapper {
	overflow-y: scroll;
	height: 100vh;
}

#projects {
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	background: rgba(200, 200, 255, 0.2);
	width: 20%;
}