.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.mode {
	margin: 20px;
}

.viewer {
	width: 320px;
	height: 240px;
}

.hidden {
	display: none
}

.mode {
	background: #DDDDDD;
	padding: 10px;
}