body.interactive {
	margin: 10px;
	padding: 10px;
	height: 100%;
}

.serverstatus {
	width: 100px;
	padding: 5px;
}

#serverList {
	display: flex;
	flex-direction: row;
}

.server {
	width: 300px;
}

.serverstatus.up {
	background: green;
}

.serverstatus.down {
	background: red;
}

.server {
	background-color: #EEEEFF;
	padding: 10px;
	margin: 10px;
}

#tabs .tab {
	background-color: #EEEEEE;
	display: inline;
	cursor: pointer;
}

#tabs .tab.active {
	background-color: #FFFFFF;
}

.revision {
	cursor: pointer;
}